<%= div_for writing do %>
  <div class="title">
    <h1><%= link_to writing.title, show_path(writing) %></h1>
  </div>

  <div class="writing_category">
    <%= get_chained_categories(writing.category) %>
  </div>

  <div class="info">
    (<div class="created_at"><%= get_formatted_time writing.created_at %></div>/<div class="updated_at"><%= get_formatted_time writing.updated_at %></div>)
  </div>

  <% if current_user.try(:admin) %>
  <div class="menu">
    <%= link_to '[E]', edit_writing_path(writing) %>
    <%= link_to '[D]', writing_path(writing), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      $('#writing_<%= writing.id %> .content').html(RICALE.hmd.decode('<%= escape_javascript(writing.content).html_safe %>'));
    });
  <% end %>

  <div class="content">
    <p><strong>자바스크립트가 지원되지 않거나 자바스크립트가 활성화되지 않은 브라우저입니다.</strong></p>
    <%= writing.content %>
  </div>

  <% if current_user.try(:admin) %>
  <div class="menu">
      <%= link_to '[E]', edit_writing_path(writing) %>
      <%= link_to '[D]', writing_path(writing), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
<% end %>