<%= div_for writing do %>
  <div class="title">
    <div class="page-header">
      <h1><%= link_to writing.title, show_path(writing) %> <small><%= render partial: 'writings/admin_menu', locals: { writing: writing } %></small></h1>


      <div class="infos">
        <span class="writing_category">
          <%= get_chained_categories(writing.category) %>
        </span>

        <span class="info">
          (<span class="created_at"><%= get_formatted_time writing.created_at %></span><small>/<span class="updated_at"><%= get_formatted_time writing.updated_at %></span></small>)
        </span>
      </div>

    </div>
  </div>

  <%= javascript_tag do %>
    $(function() {
      $('#writing_<%= writing.id %> > .content').html(hmd.decode('<%= escape_javascript(writing.content).html_safe %>'));
    });
  <% end %>

  <div class="content">
    <p><strong>자바스크립트가 지원되지 않거나 자바스크립트가 활성화되지 않은 브라우저입니다.</strong></p>
    <%= writing.content %>
  </div>

  <hr/>

  <div class="infos_bottom">
    <div class="info action_menu">
      <span class="comments_count"><%= pluralize(writing.comment.count, 'comment') %></span>&nbsp;
      <%= render partial: 'writings/admin_menu', locals: { writing: writing } %>
    </div>
  </div>

  <div class="comments not_displayed">
    <hr/>
    <div class="comment_list">
    </div>

    <%= render partial: 'comments/form', locals: {
      comment: @comment,
      writing: writing,
      last_updated_timestamp: nil
    } %>
  </div>
<% end %>
