<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @writing.title %>
</p>

<p>
  <b>Content:</b>
  <%= @writing.content %>
</p>

<p>
  <b>Category:</b>
  <%= @writing.category_id %>
</p>

<p>
  <b>User:</b>
  <%= @writing.user_id %>
</p>


<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
