<%= div_for comment do %>
  <div class="infos">
    <span class="name">
      <strong><%= comment.display_name %></strong>
    </span>

    <small>
      <sapn class="info">
        <sapn class="updated_at"><%= get_formatted_time comment.updated_at %></sapn>
      </sapn>&nbsp;
      <%= render partial: 'comments/admin_menu', locals: { comment: comment } %>
    </small>
  </div>

  <div class="content"><%= comment.content %></div>
<% end %>
