<%= form_for comment, remote: true, html: { class: 'delete_comment' } do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation"><%= comment.errors.full_messages.first %></div>
  <% end %>

  <input name="_method" type="hidden" value="delete" />

  <% if valid_user?(comment.user) %>
    <div>Are you sure?</div>
  <% else %>
    <%= f.label :password, 'password' %>
    <%= f.password_field :password %>
  <% end %>
  <%= f.submit "Delete" %>
<% end %>
