<%= form_for comment do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation"><%= comment.errors.full_messages.first %></div>
  <% end %>

  <% unless current_user %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :writing_id, value: writing_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
