<%= form_for comment, remote: true do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation"><%= comment.errors.full_messages.first %></div>
  <% end %>

  <% unless current_user %>
    <div class="field">
      <%= f.label :name, 'name (*)' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password, 'password (*)' %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :email, 'email' %>
      <%= f.text_field :email %>
    </div>
  <% end %>

  <%= f.hidden_field :writing_id, value: writing_id %>
  <%= hidden_field_tag :last_updated_at, last_updated_at %>

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
