<%= form_for [writing, comment], remote: true do |f| %>
  <% unless current_user %>
    <div class="field">
      <%= f.label :name, 'name (*)' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password, 'password (*)' %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :email, 'email' %>
      <%= f.text_field :email %>
    </div>
  <% end %>

  <%= hidden_field_tag :last_updated_timestamp %>

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
