<%= div_for category, class: "depth#{category.depth}" do %>
	<div class="name"><%= category.name %></div>

  <%= form_for(category) do |f| %>
    <%= f.label :parent_id %>
    <%= f.select :parent_id, parents %>
    <%= f.button "up", id: :up %>
    <%= f.button "down", id: :down %>
  <% end %>

<% end %>