<%= form_for category, html: {class: "form form-inline form-category"} do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control input-sm" %>

    <% if !category.name.blank? && !category.root? %>
      <%= icon_menu_button 'arrow-up', up_category_path(category), {method: :patch}, 'btn btn-sm btn-default' %>
      <%= icon_menu_button 'arrow-down', down_category_path(category), {method: :patch}, 'btn btn-sm btn-default' %>
    <% end %>

  </div>
  <% if !category.root? %>
    <div class="form-group">
      <%= f.label :parent_id, class: "control-label" %>
      <%= f.select :parent_id,
                   options_from_collection_for_select(parents, 'id', 'name', category.parent_id),
                   {},
                   class: "form-control input-sm select-parent" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>

    <% if !category.name.blank? && !category.root? %>
      <%= icon_menu_button 'remove', category_path(category), {method: :delete, data: {confirm: "Are you sure?"}}, 'btn btn-sm btn-warning' %>
    <% end %>
  </div>
<% end %>
