<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Listing categories</h1>

<% @categories.each do |category| %>
  <div class='row'>
    <%= render category %>
    <%= render partial: "edit_form", locals: { category: category, parents: @parents[category.id] } %>
  </div>
<% end %>

<%= render 'form' %>