<!DOCTYPE html>
<html>
<head>
  <title><%= @setting.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if Rails.env.production? %>
    <%= analytics_init %>
  <% end %>
  
  <% if content_for?(:stylesheet) %>
    <%= yield(:stylesheet) %>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <% end %>

  <% if content_for?(:javascript) %>
    <%= yield(:javascript) %>
  <% else %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <%= render 'shared/top_menu' %>
        <%= render 'shared/message' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <%= content_for?(:container) ? yield(:container) : yield %>
      </div>
    </div>
  </div>

</body>
</html>
