<!DOCTYPE html>
<html>
<head>
  <title><%= BLOG_TITLE %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <% if content_for?(:stylesheet) %>
    <%= yield(:stylesheet) %>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <% end %>

  <% if content_for?(:javascript) %>
    <%= yield(:javascript) %>
  <% else %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/account' %>
    <%= render 'shared/message' %>
  </div>

  <div class="container">
    <%= content_for?(:container) ? yield(:container) : yield %>
  </div>

</body>
</html>
