<!DOCTYPE html>
<html>
<head>
  <title><%= @setting.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if Rails.env.production? %>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53458217-1', 'auto');
    ga('send', 'pageview');
    ga('send', 'event', 'main', 'page');

    </script>
    <!-- End Google Analytics -->
  <% end %>
  
  <% if content_for?(:stylesheet) %>
    <%= yield(:stylesheet) %>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <% end %>

  <% if content_for?(:javascript) %>
    <%= yield(:javascript) %>
  <% else %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <%= render 'shared/top_menu' %>
        <%= render 'shared/message' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>
        <%= content_for?(:container) ? yield(:container) : yield %>
      </div>
    </div>
  </div>

</body>
</html>
