<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "categories", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "categories", "data-turbolinks-track" => true %>
<% end %>

<% content_for :container do %>

  <%= render 'header' %>

  <% if content_for?(:menu) %>
  <div class='menu'>
    <%= yield(:menu) %>
  </div>
  <% end %>

  <div class='contents'>
    <%= yield %>
  </div>

<% end %>

<%= render template: "layouts/application" %>
