<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
<% end %>

<% content_for :container do %>
  <%= render 'header' %>

  <div class='contents row'>
    <%= yield %>
  </div>

  <%= render 'footer' %>


<% end %>

<%= render template: "layouts/application" %>
