<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "writings", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "writings", "data-turbolinks-track" => true %>
<% end %>

<% content_for :container do %>

  <%= render 'header' %>

  <div class="modal fade modal-custom" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Preview Content</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <div class='contents'>
    <%= yield %>
  </div>

<% end %>

<%= render template: "layouts/application" %>